ion-view(view-title="Upload")
    ion-content
        .text-center
            ion-spinner(ng-show="uploading").text-center
            button(ng-click="upload").button.button-positive.button-block Upload
            p(ng-show="uploaded") Done!

        ion-list
            .item(ng-repeat="cred in creds track by $index")
                p {{ cred.wiegand_hex }}